body {
    font-family: 'Arima', cursive;
    margin: 0px;

}

.flexible {
    display: flex;
    margin-bottom: 100px;
}


.halfwidth {
    width: 50%;
    padding-left: 6px;
}

.halfwidth img {
    width: 100%;
    padding-top: 40px;
}

.banner {
    background-image: url(ml.png);
}

h1 {
    font-size: 55px;
}

span {
    color: rgb(209, 149, 38);
}

.button {
    text-decoration: none;
    color: rgb(151, 226, 226);
    padding: 10px 41px;
    background-image: linear-gradient(orange, brown);
    font-weight: 700;
}

.bn {
    padding-left: 35px;
}

.bner {
    background-color: rgb(12, 12, 64);
    background-image: url(maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.white {
    color: aqua;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

.box {
    width: 50%;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    box-shadow: 10px 10px 40px gray;

}

#pro {
    border-right: 10px solid;
    border-image: linear-gradient(rgb(92, 92, 230), rgb(96, 172, 96));
    border-image-slice: 1;
}

.bng {
    background-color: rgb(196, 232, 220);
}

#junior {
    border-right: 10px solid;
    border-image: linear-gradient(rgb(203, 194, 21), rgb(193, 82, 31));
    border-image-slice: 1;

}

footer p {
    text-align: center;
}